@charset "UTF-8";

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.celulas{
    background-color: red;
    min-height: 100px;
}

/* faz intercalar conforme vc pede dentro do parametro */
.celulas:nth-child(2n){
    background-color: green;
}

body{
    margin: 0;
    background-color: black;
}

